DIGISELLER_SELLER_ID=1437041
DIGISELLER_API_KEY=PUT_YOUR_WEBMONEY_API_KEY_HERE
DIGISELLER_ADMIN_HOST=127.0.0.1
DIGISELLER_ADMIN_PORT=8765
DIGISELLER_KEEP_ONLINE=1
DIGISELLER_KEEP_ONLINE_INTERVAL=15
DIGISELLER_ONLINE_VALUE=1
DIGISELLER_ONLINE_VERIFY_TYPE=seller
DIGISELLER_PUBLIC_SELLER_URL=https://plati.market/seller/hello1989/1437041/?lang=en-US
DIGISELLER_CHAT_KEEPALIVE_URL=https://chat.digiseller.com/asp/messenger.asp?mode=s
DIGISELLER_CHAT_OPEN_BROWSER=1
DIGISELLER_COMMON_PHRASE_PUBLIC_BASE_URL=
GGSEL_API_KEY=PUT_YOUR_GGSEL_API_KEY_HERE
GGSEL_API_BASE=https://seller.ggsel.com/api_sellers/api
GGSEL_SELLER_OFFICE_API_BASE=https://seller.ggsel.com/api
GGSEL_SELLER_ID=132809753
GGSEL_SELLER_COOKIE=
GGSEL_PARTNER_ID=
GGSEL_KEEP_ONLINE=1
GGSEL_ONLINE_VALUE=1
GGSEL_ONLINE_VERIFY_TYPE=seller
FUNPAY_GOLDEN_KEY=PUT_YOUR_FUNPAY_GOLDEN_KEY_COOKIE_HERE
